/* -----------GENERALES----------------- */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Overpass', sans-serif;
    background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;
}

img {
    max-width: 100%;
}


h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
}

h2 {
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
    font-size: 3rem;
}

p {
    font-size: 2.5rem;
}


.contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    color: #35373a;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);

}

/*----------------------- HEADER ----------------------- */
nav a {
    display: inline-block;
}

.btn-caja a {
    padding-top: 37rem;

}

.icono {
    border-radius: 50%;
    width: 6rem;
}

.btn {
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn:hover {
    max-width: 120%;
}

.btn-galeria {
    background-image: url(../IMG/Torres-Garcia-Obra.jpg);

}

.btn-turismo {
    background-image: url(../IMG/puente_garzon.jpg);

}

.btn-blog {
    background-image: url(../IMG/21743788_516310348714767_7506098463759688400_o.jpg);
}

.btn-historia {
    background-image: url(../IMG/grito-de-asencio-indepenendencia-uruguay.jpg);
}
header{
    margin-bottom: 5rem;
}
header div nav {
    text-align: center;
    width: 100%;
}

div nav a {
    width: calc(20% - 1rem);
    color: yellow;

}

header a {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    padding: 0 1.5rem;
}

/* -----------------------  MAIN ----------------------- */
.imagen {
    max-width: 40rem;
}

/* ----------------------- FOOTER ----------------------- */
footer {
    background-color: white;
    margin: auto auto 0 auto;
}


























/* 
.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
} */