/*  ----------------------- GENERALES ----------------------- */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(../IMG/la_paloma2.jpg);
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

h1,
h2 {
    font-family: 'Lobster', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
    padding: 0 2rem;
}

a {
    text-decoration: none;
}

.contenedor {
    max-width: 90%;
    margin: 4rem auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.9);

}

/*----------------------- HEADER ----------------------- */
/*-------------- PORTADA -------------- */
.encabezado {
    height: 50rem;
}

.fas {
    color: white;
}

.fas {
    font-size: 2.5rem;
}

.buscar {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.mapa {
    position: absolute;
    top: 1rem;
}

/*-------------- FIN PORTADA -------------- */

/*-------------- MENU -------------- */

.btn-caja {
    display: flex;
    margin: 13rem;
    width: 80%;
    background-color: black;
    justify-content: space-around;
}

.btn {
    display: inline-block;
    width: 20%;
    padding: 12px 0;
    transition: 0.5s ease-in-out;
    background-color: black;
}

.btn:hover {
    color: white;
    border: solid 1px #141414;
    border-radius: 16%;
    background-color: #0f0f0f;
}

.btn a {
    width: 100%;
    height: 100%;
}

header div nav {
    text-align: center;
    width: 100%;
}

header a {
    color: #545752;
    text-decoration: none;
    font-size: 3rem;
    padding: 0 1.5rem;
}

/*-------------- FIN MENU -------------- */

/* ----------------------- FOOTER ----------------------- */
.footer {
    max-width: 100%;
    margin-top: 3rem;
    padding: 1rem 3rem;
    display: flex;
    background-color: #404040;

}

.conte-footer {
    flex-basis: calc(33.3% - 1rem);

}

.contactos {
    font-size: 1.2rem;
    display: block;
}

h3 {
    padding: 2rem;
    font-size: 1.8rem;

}

.fab {
    font-size: 3rem;
    color: white;
}

.fab:hover {
    color: #b3b3b3;
}

.copy {
    text-align: center;
    color: white;
    background-color: #333333;
    margin: 0 auto;
    padding: 2rem;
    text-transform: capitalize;
}

.color-copy {
    text-transform: uppercase;
}

/*  ----------------------- FIN GENERALES ----------------------- */
/*  ----------------------- INDEX ----------------------- */
/* -----------------------  MAIN ----------------------- */
.clear {
    clear: both
}

.imagen {
    max-width: 35rem;
    float: left;
    margin-right: 2rem;
    border-radius: 10%;
}

.cont-main {
    padding: 3rem 3rem 6rem 3rem;
    margin: 0;
}

.cont-main div p {
    font-size: 1.6rem;
}

section a h2 {
    color: black;
}

section a h2:hover {
    color: rgba(255, 255, 255, 0.8);
    border-radius: 10%;
    display: inline-block;
    /*Preguntar porque se va para un lado*/
}