// Variables Varias

// Colores
$colorPrimario:rgb(47, 45, 62);
$colorSecundario: rgb(80, 89, 108);
$colorTerciario: rgb(77, 199, 212);
$colorCuaternario:rgb(114, 209, 146);
$colorQuinto:rgb(252, 242, 198);

$grupoVerde: rgb(1, 255, 86);
$grupoVerde2: rgba(27, 155, 36, 0.438);
$grupoVerde3: rgb(104, 176, 74);