// Variables Varias

// Colores
$colorPrimario:rgb(47, 45, 62);
$colorSecundario: rgb(80, 89, 108);
$colorTerciario: rgb(77, 199, 212);
$colorCuaternario:rgb(114, 209, 146);
$colorQuinto:rgb(252, 242, 198);

