<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoderHouse: Proyecto Final</title>
    <!------------------------- FUENTES -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <!-- ICONOS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <!-- NORMALIZE -->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="../ASSETS/CSS/style.css">
</head>

<body>
    <!-------------------------PORTADA------------------------------>
    <section>
        <a href="#arriba">
            <h1 class="estiloTituloDecorado estitloTituloDecoradoDesktop">
                <--------------Uruguay Natural -------------->
            </h1>
            <h1 class="estiloTituloDecorado estitloTituloDecoradoMobil">
                <--Uruguay Natural-->
            </h1>
        </a>
    </section>
    <!--=======NAVEGACIÓN=======-->
    <header id="arriba">
        <!-------------------------Menu de navegacion con lista desplegable------------------------------>
        <nav class="menuDesktop">
            <ul class="btnCaja">
                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista" href="../index.html">Inicio</a>
                </li>
                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista" href="turismo.html">Destinos</a>
                    <ul class="cajaListaInterna">
                        <li class="listaInterna"><a class="botones enlaceLista" href="turismo.html#playas">Playas</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista" href="turismo.html#camping">Camping</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista" href="turismo.html#ciudad">Ciudad</a>
                        </li>
                    </ul>
                </li>
                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista">Galeria</a>
                    <ul class="cajaListaInterna">
                        <li class="listaInterna"><a class="botones enlaceLista" href="galeria.html">1 Columna</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista" href="galeria2.html">2 Columnas</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista" href="galeria3.html">3 Columnas</a>
                        </li>
                    </ul>
                </li>
                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista" href="blog.html">Blog</a>
                    <ul class="cajaListaInterna">
                        <li class="listaInterna"><a class="botones enlaceLista" href="blog.html">Noticias</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista" href="blog.html">Datos de
                                interes</a></li>
                    </ul>
                </li>
                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista" href="actividades.html">Actividades</a>
                </li>
            </ul>
        </nav>
        <!-------------------------Fin del menu de navegacion con lista desplegable------------------------------>
        <!--================MENU HAMBURGESA================-->
        <nav class="menuHamburgesa">
            <div class="hamburger">
                <div class="_layer -top"></div>
                <div class="_layer -mid"></div>
                <div class="_layer -bottom"></div>
            </div>
            <nav class="menuppal">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="turismo.html">Destinos</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="actividades.html">Información</a></li>
                </ul>
            </nav>

        </nav>
        <!-------------------------FIN DE MENU HAMBURGESA------------------------------>
    </header>
    <!--=======FIN DE NAVEGACIÓN=======-->
    <section>
        <div class="contMain">
            <!--Saludos en distintos idiomas-->
            <div class="efectoEstiloTitulo animacionTexto">
                <h1 class="estiloTituloPrincipal "></h1>
            </div>
        </div>
    </section>
    <section class="imagenPortada">
        <!--Imagen de fondo de los saludos, foto de colonia-->
    </section>

    <section class="contenedor">
        <h1 class="titulosDeSecciones">¡Más de 1000 destinos para disfrutar en Uruguay!</h1>
        <div class="contenedorActividades">
            <div class="actividad">
                <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/fc1da7257992fc36032e11db3df7a664_XL.jpg"
                    src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/fc1da7257992fc36032e11db3df7a664_XL.jpg"
                    alt="Aventura y deporte">
                <h2> Aventura y deporte</h2>
                <p> A pocos kilómetros de distancia, Uruguay regala diversos y atractivos paisajes
                    donde es posible disfrutar de cabalgatas, vuelo libre, paseos en camiones a todo
                    terreno,… </p>

                <a href="construccion.html"> <button>...ver más</button>
                </a>
            </div>
            <div class="actividad">
                <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/0b13665ae00972807ddb09f249d0abcb_XL.jpg"
                    src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/0b13665ae00972807ddb09f249d0abcb_XL.jpg"
                    alt="Áreas protegidas">
                <h2>
                    Áreas protegidas</h2>
                <p>
                    A pesar de su pequeña superficie, Uruguay tiene infinidad de rincones naturales para quienes
                    disfrutan de practicar ecoturismo. Diesisiete de ellos, integran el Sistema Nacional…
                </p>
                <a href="construccion.html"> <button>...ver más</button>
                </a>

            </div>
            <div class="actividad">
                <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/c9b002fe1bb0320831a8ae78670fdb6f_XL.jpg"
                    src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/c9b002fe1bb0320831a8ae78670fdb6f_XL.jpg"
                    alt="Campo y Naturaleza">
                <h2>
                    Campo y Naturaleza</h2>
                <p>
                    A pocos kilómetros de distancia, Uruguay regala diversos y atractivos paisajes donde es posible
                    disfrutar de cabalgatas, vuelo libre, paseos en camiones a todo terreno,…
                </p>
                <a href="construccion.html"> <button>...ver más</button>
                </a>

            </div>
            <div class="actividad">
                <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/077ab55046ce80eaf9a3ddea999597ca_XL.jpg"
                    src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/077ab55046ce80eaf9a3ddea999597ca_XL.jpg"
                    alt="Náutico y Cruceros">
                <h2> Náutico y Cruceros</h2>
                <p>
                    El turismo de cruceros es una de las actividades turísticas que más crece en el mundo. Uruguay
                    es un claro ejemplo de este crecimiento, con…
                </p>
                <a href="construccion.html"> <button>...ver más</button>
                </a>

            </div>
            <div class="actividad">
                <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/f4b6dca0e2911082f0eb6e1df1a0e11d_XL.jpg"
                    src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/f4b6dca0e2911082f0eb6e1df1a0e11d_XL.jpg"
                    alt="Cultura y Patrimonio">
                <h2> Cultura y Patrimonio</h2>
                <p>
                    Contemplar ejemplares únicos de estilo art decó, descifrar el candombe, entregarse a las
                    particularidades del tango uruguayo o descubrir…
                </p>
                <a href="construccion.html"> <button>...ver más</button>
                </a>

            </div>
            <div class="actividad">
                <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/233826a67be66a810b23a263230da62e_XL.jpg"
                    src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/233826a67be66a810b23a263230da62e_XL.jpg"
                    alt="Turismo de Reuniones">
                <h2> Turismo de Reuniones</h2>
                <p>
                    Uruguay brinda un entorno ideal para la realización de congresos, conferencias y viajes de
                    incentivo no sólo en la capital sino también en…
                </p>
                <a href="construccion.html"> <button>...ver más</button>
                </a>

            </div>
            <div class="actividad">
                <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/e2bf3b11df0b872112757f1c2fee6e32_XL.jpg"
                    src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/e2bf3b11df0b872112757f1c2fee6e32_XL.jpg"
                    alt="Turismo Friendly">
                <h2> Turismo Friendly</h2>
                <p>
                    En los últimos años, Uruguay se ha consolidado como destino friendly, donde los turistas
                    encuentran una oferta especializada, servicios de calidad y una avanzada... </p>

                <a href="construccion.html"> <button>...ver más</button>
                </a>
            </div>
            <div class="actividad">
                <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/4965657af186b9092c7a96976ffe881c_XL.jpg"
                    src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/4965657af186b9092c7a96976ffe881c_XL.jpg"
                    alt="Estilo de vida y entretenimiento">
                <h2>
                    Estilo de vida y entretenimiento</h2>
                <p>
                    A pocos kilómetros de distancia, Uruguay regala diversos y atractivos paisajes donde es posible
                    disfrutar de cabalgatas, vuelo libre, paseos en... </p>
                <a href="construccion.html"> <button>...ver
                        más</button>
                </a>

            </div>
            <div class="actividad">
                <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/9b2c4b44fb86522964124ed80d03c5e8_XL.jpg"
                    src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/9b2c4b44fb86522964124ed80d03c5e8_XL.jpg"
                    alt="Turismo termal">
                <h2> Turismo termal</h2>
                <p>
                    Situada en la zona noroeste de Uruguay, a 400 km de Montevideo, en los departamentos de Salto y
                    Paysandú, se encuentra una amplia zona de…
                </p>
                <a href="construccion.html"> <button>...ver más</button>
                </a>

            </div>
            <div class="actividad">
                <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/71f67488b0857639cee631943a3fc6fa_XL.jpg"
                    src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/71f67488b0857639cee631943a3fc6fa_XL.jpg"
                    alt="Turismo religioso">
                <h2> Turismo religioso</h2>
                <p>
                    Si bien Uruguay es un Estado que no profesa ningún credo en particular, el país cuenta con una
                    variada agenda de fiestas religiosas, fiestas patronales,…
                </p>
                <a href="construccion.html"> <button>...ver más</button>
                </a>

            </div>
            <div class="actividad">
                <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/c889234799e865bbe90cee71f6cd2e53_XL.jpg"
                    src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/c889234799e865bbe90cee71f6cd2e53_XL.jpg"
                    alt="Turismo en playas">
                <h2> Turismo en playas</h2>
                <p>
                    La costa uruguaya es tan extensa como diversa. Naturaleza, entornos familiares, paisajes y
                    adrenalina, todo se conjuga para regalar experiencias únicas. En…
                </p>
                <a href="construccion.html"> <button>...ver más</button>
                </a>

            </div>
            <div class="actividad">
                <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/3f1e97757a3063c4ed4823d533fdc555_XL.jpg"
                    src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/3f1e97757a3063c4ed4823d533fdc555_XL.jpg"
                    alt="Al fin Carnaval">
                <h2> Al fin Carnaval</h2>
                <p>
                    Al Pagando con tarjeta de crédito y/o débito o dinero electrónico, descuento de 9% del IVA para
                    consumidores finales en: Servicios gastronómicos de todo… </p>

                <a href="construccion.html">
                    <button>...ver más</button>
                </a>

            </div>
            <div class="actividad">
                <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/de419eebc85959410ee19fa8f0a00919_XL.jpg"
                    src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/de419eebc85959410ee19fa8f0a00919_XL.jpg"
                    alt="1000 destinos para disfrutar de Uruguay en Invierno">
                <h2> 1000 destinos para disfrutar de…</h2>
                <p>
                    1000 destinos para disfrutar de Uruguay en Invierno </p>

                <a href="construccion.html"> <button>...ver
                        más</button>
                </a>

            </div>
            <div class="actividad">
                <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/47ba0d76efc08579b01650f8b1d7ea23_XL.jpg"
                    src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/47ba0d76efc08579b01650f8b1d7ea23_XL.jpg"
                    alt="¡Volver a disfrutar tu país, se disfruta el doble!">
                <h2> ¡Volver a disfrutar tu país, se disfruta el doble! </h2>
                <p>Estas vacaciones de invierno celebramos el doble porque podemos reencontramos con lo nuestro,
                    nuestros familiares y amigos. Salí a respirar el aire puro del campo o la brisa del mar o cabalgar
                    por las sierras, encontrar Oro en el Norte o relajarte en aguas termales, son alguna de las más de
                    mil opciones que ofrece Uruguay. ¡Este invierno tenés revancha! Una oportunidad de volver a vivir tu
                    tierra como nunca antes.</p>

                <a href="construccion.html"> <button>...ver más</button>
                </a>

            </div>
        </div>

    </section>
    <!-- Pie de Página-->
    <footer>
        <nav>
            <div class="navFooter">
                <a class="btnPie" href="galeria.html" title="Ir a Galería">Galería</a>
                <a class="btnPie" href="turismo.html" title="Ir a Destinos">Destinos </a>
                <a class="btnPie" href="../index.html" title="Ir a Inicio"><i class="fas fa-home"></i></a>
                <a class="btnPie" href="blog.html" title="Ir a Blog">Blog</a>
                <a class="btnPie" href="actividades.html" title="Ir a informacion">Información</a>
            </div>
        </nav>
        <div class="footer">
            <div class="conte-footer">
                <h3>Contacto</h3>

                <p class="contactos">
                    Teléfono:
                    <a href="tel:12345678">12345678</a>
                </p>
                <p class="contactos">
                    Correo Electrónico:
                    <a href="email">correo@correo.co</a>
                </p>
                <p class="contactos">
                    Dirección: Calle Falsa 123
                </p>

            </div>
            <div class="conte-footer">
                <h3>Sobre Nosotros</h3>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto necessitatibus velit
                    laborum facere? Non, consequatur eveniet cum iusto magni ut possimus quia alias illum
                    ipsa expedita soluta placeat voluptas quos.
                </h4>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto necessitatibus velit
                    laborum facere? Non, consequatur eveniet cum iusto magni ut possimus quia alias illum
                    ipsa expedita soluta placeat voluptas quos.
                </h4>
            </div>
            <div class="conte-footer">
                <h3>Redes Sociales</h3>
                <h4 class="redes-sociales">
                    <a href="" title=""><i class="fab fa-facebook-square"></i></a>
                    <a href="" title=""><i class="fab fa-twitter-square"></i></a>
                    <a href="" title=""><i class="fab fa-instagram-square"></i></a>
                </h4>
            </div>
        </div>
        <p class="copy"><span class="color-copy"> CoderHouse:</span> Proyecto final</p>
    </footer>
    <!--Fin del Pie de Página-->
    <script src="../ASSETS/JS/index.js"></script>

</body>

</html>