<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividades</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../ASSETS/IMG/favicon-16x16.png">

    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <!-- ICONOS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <!-- NORMALIZE -->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="../ASSETS/CSS/style.css">
</head>

<body>
    <!--PORTADA-->
    <section>
        <a href="#arriba">
            <h1 class="estiloTituloDecorado estitloTituloDecoradoDesktop">
                <--------------Uruguay Natural -------------->
            </h1>
            <h1 class="estiloTituloDecorado estitloTituloDecoradoMobil">
                Uruguay Natural
            </h1>
        </a>
    </section>
    <!--NAVEGACIÓN-->
    <header id="arriba">
        <!--Menu de navegacion con lista desplegable-->
        <nav class="menuDesktop">
            <ul class="btnCaja">
                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista" href="../index.html">Inicio</a>
                </li>
                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista" href="destinos.html">Destinos</a>
                    <ul class="cajaListaInterna">
                        <li class="listaInterna"><a class="botones enlaceLista" href="destinos.html#playas">Playas</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista"
                                href="destinos.html#buscador">Camping</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista" href="destinos.html#buscador">Ciudad</a>
                        </li>
                    </ul>
                </li>
                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista">Galeria</a>
                    <ul class="cajaListaInterna">
                        <li class="listaInterna"><a class="botones enlaceLista" href="galeria.html">1 Columna</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista" href="galeria2.html">2 Columnas</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista" href="galeria3.html">3 Columnas</a>
                        </li>
                    </ul>
                </li>

                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista" href="actividades.html">Actividades</a>
                </li>
            </ul>
        </nav>
        <!--Fin del menu de navegacion con lista desplegable-->
        <!--MENU HAMBURGESA-->
        <nav class="menuHamburgesa">
            <div class="hamburger">
                <div class="_layer -top"></div>
                <div class="_layer -mid"></div>
                <div class="_layer -bottom"></div>
            </div>
            <nav class="menuppal">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="destinos.html">Destinos</a></li>
                    <li><a href="actividades.html">Actividades</a></li>
                </ul>
            </nav>

        </nav>
        <!--FIN DE MENU HAMBURGESA-->
    </header>
    <!--FIN DE NAVEGACIÓN-->



    <section class="contenedor">
        <div class="contenedorBuscador">
            <h1>Áreas <br> temáticas</h1>
            <div class="listaMenu estiloDesplegables" id="accordion" role="tablist" aria-multiselectable="true">
                <!--Primer acordion-->
                <div>
                    <div role="tab" id="headingOne">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            <h4>Atractivos</h4>
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="lista">
                                <div><i class="fab fa-pagelines"></i>Zonas Verdes</div>
                                <div><i class="fas fa-theater-masks"></i>Teatros</div>
                                <div><i class="fas fa-landmark"></i></i>Bancos</div>
                                <div><i class="fas fa-film"></i>Cines</div>
                                <div><i class="fas fa-route"></i>Recorridos de Interes</div>
                                <div><i class="fas fa-bed"></i>Hospedaje</div>
                                <div><i class="fas fa-shuttle-van"></i>Transporte</div>
                                <div><i class="fas fa-hiking"></i>Actividades aventura</div>
                                <div><i class="fas fa-snowboarding"></i>Actividades productivas </div>
                                <div><i class="fas fa-fish"></i>Acuarios </div>
                                <div><i class="fas fa-hand-holding-water"></i>Aguas Termales</div>
                                <div><i class="fas fa-cocktail"></i>Atractivo Turístico</div>
                                <div><i class="fas fa-crow"></i>Avistamiento de aves</div>
                                <div><i class="fas fa-fire-extinguisher"></i>Bomberos </div>
                                <div><i class="fas fa-horse"></i>Cabalgatas </div>
                                <div><i class="fas fa-campground"></i>Campings </div>
                                <div><i class="fas fa-dice"></i>Casino </div>
                                <div><i class="fas fa-map-signs"></i>Centro de Informes </div>
                                <div><i class="fas fa-palette"></i>Centros culturales </div>
                                <div><i class="fas fa-briefcase-medical"></i>Centros de salud </div>
                                <div><i class="fas fa-street-view"></i>Centros MEC </div>
                                <div><i class="fas fa-mountain"></i>Cerro </div>
                                <div><i class="fas fa-bicycle"></i>Ciclovías </div>
                                <div><i class="fas fa-exchange-alt"></i>Circuito </div>
                                <div><i class="fas fa-dumbbell"></i>Club / Gimnasio / Plaza de deportes</div>
                                <div><i class="fas fa-balance-scale"></i>Comisarías </div>
                                <div><i class="fas fa-user-cog"></i>Construcción </div>
                                <div><i class="fas fa-dungeon"></i>Cuevas / Grutas / Minas </div>
                                <div><i class="fas fa-charging-station"></i>Estación de servicio</div>
                                <div><i class="fas fa-subway"></i>Estación de tren</div>
                                <div><i class="fas fa-futbol"></i>Estadio </div>
                                <div><i class="fas fa-trophy"></i>Eventos deportivos </div>
                                <div><i class="fab fa-watchman-monitoring"></i></i>Faro </div>
                                <div><i class="fas fa-gifts"></i>Fiestas </div>
                                <div><i class="fas fa-utensils"></i>Gastronomía / Comida característica</div>
                                <div><i class="fas fa-pray"></i>Iglesias / Catedrales / Templos</div>
                                <div><i class="fas fa-gamepad"></i>Juegos infantiles </div>
                                <div><i class="fas fa-water"></i>Lago </div>
                                <div><i class="fas fa-water"></i>Laguna </div>
                                <div><i class="fas fa-book-reader"></i>Librerías </div>
                                <div><i class="fas fa-person-booth"></i>Locutorios </div>
                                <div><i class="fas fa-shopping-basket"></i>Mercado </div>
                                <div><i class="fas fa-monument"></i>Monumento </div>
                                <div><i class="fas fa-archway"></i>Museo / Sitio paleontológico / arqueológico </div>
                                <div><i class="fas fa-map-marked"></i>Paradores </div>
                                <div><i class="fas fa-tree"></i>Parque </div>
                                <div><i class="fas fa-bowling-ball"></i>Parque de diversiones / temático</div>
                                <div><i class="fas fa-umbrella-beach"></i>Playa </div>
                                <div><i class="fas fa-hippo"></i>Reserva Animal / Zoológico Reserva Animal </div>
                                <div><i class="fas fa-map"></i>Ruta </div>
                                <div><i class="fas fa-tint"></i>Salto de agua / cascada</div>
                                <div><i class="fas fa-compass"></i>Senderos peatonales </div>
                                <div><i class="fas fa-shopping-bag"></i>Shopping / Hipermercado </div>
                                <div><i class="fas fa-chess-rook"></i>Sitio histórico / Edificio emblemático </div>
                                <div><i class="fas fa-globe"></i>Terminales </div>
                                <div><i class="fas fa-binoculars"></i>Vistas panorámicas </div>
                                <div><i class="fas fa-vest-patches"></i>Zonas de pesca</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Fin Primer acordion-->

                <!--Segundo  acordion-->
                <div>
                    <div role="tab" id="headingTwo">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4>Operadores</h4>
                        </a>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="lista">
                                <div><i class="fas fa-trophy"></i>Actividad Deportiva Remunerada</div>
                                <div> <i class="fas fa-shuttle-van"></i>Agencias de Transporte Turístico</div>
                                <div> <i class="fas fa-globe-americas"></i>Agencias de Viaje</div>
                                <div><i class="fas fa-luggage-cart"></i> Alojamientos Turísticos</div>
                                <div> <i class="fas fa-bone"></i>Avistamieto de Cetáceos</div>
                                <div> <i class="fas fa-glass-cheers"></i>Bodegas</div>
                                <div> <i class="fas fa-hat-cowboy-side"></i>Establecimientos Turísticos Rurales</div>
                                <div> <i class="fas fa-route"></i>Guías Turísticos</div>
                                <div> <i class="fas fa-house-user"></i>Inmobiliarias </div>
                                <div> <i class="fas fa-person-booth"></i>Organizadores Profesionales de Congresos </div>
                                <div> <i class="fas fa-car"></i>Rentadoras de Autos</div>
                                <div> <i class="fas fa-users"></i>Salas de Convenciones</div>
                                <div> <i class="fas fa-hiking"></i>Turismo Aventura</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Segundo  acordion-->
                <!--Tercer acordion-->
                <div id="sub-accordion" role="tablist" aria-multiselectable="true">

                    <!--Primer sub acordion-->
                    <div>
                        <div role="tab" id="subHeadingOne">
                            <a role="button" data-toggle="collapse" data-parent="#sub-accordion" href="#collapseSubOne"
                                aria-expanded="true" aria-controls="collapseSubOne">
                                <h4>Otros</h4>
                            </a>

                        </div>
                        <div id="collapseSubOne" class="estiloDesplegables panel-collapse collapse" role="tabpanel"
                            aria-labelledby="subHeadingOne">
                            <div class="panel-body">
                                <!--Segundo sub acordion-->
                                <div>
                                    <div role="tab" id="subHeadingTwo">

                                        <a class="collapsed" role="button" data-toggle="collapse"
                                            data-parent="#sub-accordion" href="#collapseSubTwo" aria-expanded="false"
                                            aria-controls="collapseSubTwo">
                                            <h5>Intendencia Montevideo</h5>
                                        </a>

                                    </div>
                                    <div id="collapseSubTwo" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="headingSubTwo">
                                        <div class="panel-body">
                                            <div class="lista">
                                                <div> <i class="fas fa-map-marker"></i>Paradas de omnibus </div>
                                                <div> <i class="fas fa-route"></i>Recorrido Bus Turistico</div>
                                                <div> <i class="fas fa-tablet-alt"></i>Espejos de agua de Montevideo</div>
                                                <div> <i class="fas fa-handshake"></i>Espacios libres de Montevideo</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Segundo sub acordion-->
                            </div>
                        </div>
                    </div>
                    <!--Fin Primer sub acordion-->

                </div>
            </div>
            <!--Fin Tercer acordion-->

            <div class="cajaMapaInteractivo">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d209655.65907018815!2d-56.340845026953545!3d-34.80922056803718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f80ffc63bf7d3%3A0x6b321b2e355bec99!2sMontevideo%2C%20Departamento%20de%20Montevideo!5e0!3m2!1ses-419!2suy!4v1609293836927!5m2!1ses-419!2suy"
                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                </iframe>

            </div>
        </div>
        <h1 id="actividades" class="titulosDeSecciones">¡Más de 1000 destinos para disfrutar en Uruguay!</h1>
        <p class="parrafoActividad">Estas vacaciones celebramos el doble porque podemos reencontramos con lo nuestro,
            nuestros familiares y amigos. Salí a respirar el aire puro del campo o la brisa del mar o cabalgar
            por las sierras, encontrar Oro en el Norte o relajarte en aguas termales, son alguna de las más de
            mil opciones que ofrece Uruguay. Una oportunidad de volver a vivir tu tierra como nunca antes.</p>
        <div class="contenedorActividades">
            <a href="subPaginas/aventuradeporte.html">
                <div class="actividad">
                    <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/fc1da7257992fc36032e11db3df7a664_XL.jpg"
                        src="../ASSETS/IMG/aventuraydeporte.jpg" alt="Aventura y deporte">
                    <h2> Aventura y deporte</h2>
                    <p> A pocos kilómetros de distancia, Uruguay regala diversos y atractivos paisajes
                        donde es posible disfrutar de cabalgatas, vuelo libre, paseos en camiones a todo
                        terreno,... </p>
                </div>
            </a>
            <a href="subPaginas/areasprotegidas.html">
                <div class="actividad">
                    <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/0b13665ae00972807ddb09f249d0abcb_XL.jpg"
                        src="../ASSETS/IMG/areasprotegidas.jpg" alt="Áreas protegidas">
                    <h2>
                        Áreas protegidas</h2>
                    <p>
                        A pesar de su pequeña superficie, Uruguay tiene infinidad de rincones naturales para quienes
                        disfrutan de practicar ecoturismo. Diesisiete de ellos, integran el Sistema Nacional…
                    </p>
                </div>
            </a>
            <a href="subPaginas/camponaturaleza.html">
                <div class="actividad">
                    <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/c9b002fe1bb0320831a8ae78670fdb6f_XL.jpg"
                        src="../ASSETS/IMG/campoynaturaleza.jpg" alt="Campo y Naturaleza">
                    <h2>
                        Campo y Naturaleza</h2>
                    <p>
                        A pocos kilómetros de distancia, Uruguay regala diversos y atractivos paisajes donde es posible
                        disfrutar de cabalgatas, vuelo libre, paseos en camiones a todo terreno,…
                    </p>
                </div>
            </a>
            <a href="subPaginas/nauticocruceros.html">
                <div class="actividad">
                    <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/077ab55046ce80eaf9a3ddea999597ca_XL.jpg"
                        src="../ASSETS/IMG/nauticoycruceros.jpg" alt="Náutico y Cruceros">
                    <h2> Náutico y Cruceros</h2>
                    <p>
                        El turismo de cruceros es una de las actividades turísticas que más crece en el mundo. Uruguay
                        es un claro ejemplo de este crecimiento, con…
                    </p>


                </div>
            </a>
            <a href="subPaginas/culturapatrimonio.html">
                <div class="actividad">
                    <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/f4b6dca0e2911082f0eb6e1df1a0e11d_XL.jpg"
                        src="../ASSETS/IMG/culturaypatrimonio.jpg" alt="Cultura y Patrimonio">
                    <h2> Cultura y Patrimonio</h2>
                    <p>
                        Contemplar ejemplares únicos de estilo art decó, descifrar el candombe, entregarse a las
                        particularidades del tango uruguayo o descubrir…
                    </p>
                </div>
            </a>
            <a href="subPaginas/turismoreuniones.html">
                <div class="actividad">
                    <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/233826a67be66a810b23a263230da62e_XL.jpg"
                        src="../ASSETS/IMG/turismodereuniones.jpg" alt="Turismo de Reuniones">
                    <h2> Turismo de Reuniones</h2>
                    <p>
                        Uruguay brinda un entorno ideal para la realización de congresos, conferencias y viajes de
                        incentivo no sólo en la capital sino también en…
                    </p>
                </div>
            </a>
            <a href="subPaginas/turismofriendly.html">
                <div class="actividad">
                    <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/e2bf3b11df0b872112757f1c2fee6e32_XL.jpg"
                        src="../ASSETS/IMG/turismofriendly.jpg" alt="Turismo Friendly">
                    <h2> Turismo Friendly</h2>
                    <p>
                        En los últimos años, Uruguay se ha consolidado como destino friendly, donde los turistas
                        encuentran una oferta especializada, servicios de calidad y una avanzada legislación donde...
                    </p>
                </div>
            </a>
            <a href="subPaginas/estilovidaentretenimiento.html">
                <div class="actividad">
                    <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/4965657af186b9092c7a96976ffe881c_XL.jpg"
                        src="../ASSETS/IMG/estilodevidayentretenimiento.jpg" alt="Estilo de vida y entretenimiento">
                    <h2>
                        Estilo de vida y entretenimiento</h2>
                    <p>
                        A pocos kilómetros de distancia, Uruguay regala diversos y atractivos paisajes donde es posible
                        disfrutar de cabalgatas, vuelo libre, paseos en... </p>
                </div>
            </a>
            <a href="subPaginas/turismotermal.html">
                <div class="actividad">
                    <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/9b2c4b44fb86522964124ed80d03c5e8_XL.jpg"
                        src="../ASSETS/IMG/turismotermal.jpg" alt="Turismo termal">
                    <h2> Turismo termal</h2>
                    <p>
                        Situada en la zona noroeste de Uruguay, a 400 km de Montevideo, en los departamentos de Salto y
                        Paysandú, se encuentra una amplia zona de…
                    </p>
                </div>
            </a>
            <a href="subPaginas/turismoreligioso.html">
                <div class="actividad">
                    <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/71f67488b0857639cee631943a3fc6fa_XL.jpg"
                        src="../ASSETS/IMG/turismoreligosio.jpg" alt="Turismo religioso">
                    <h2> Turismo religioso</h2>
                    <p>
                        Si bien Uruguay es un Estado que no profesa ningún credo en particular, el país cuenta con una
                        variada agenda de fiestas religiosas, fiestas patronales,…
                    </p>

                </div>
            </a>
            <a href="subPaginas/turismoplayas.html">
                <div class="actividad">
                    <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/c889234799e865bbe90cee71f6cd2e53_XL.jpg"
                        src="../ASSETS/IMG/turismoenplaya.jpg" alt="Turismo en playas">
                    <h2> Turismo en playas</h2>
                    <p>
                        La costa uruguaya es tan extensa como diversa. Naturaleza, entornos familiares, paisajes y
                        adrenalina, todo se conjuga para regalar experiencias únicas. En…
                    </p>
                </div>
            </a>
            <a href="subPaginas/alfincarnaval.html">
                <div class="actividad">
                    <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/3f1e97757a3063c4ed4823d533fdc555_XL.jpg"
                        src="../ASSETS/IMG/alfincarnaval.jpg" alt="Al fin Carnaval">
                    <h2> Al fin Carnaval</h2>
                    <p>
                        Pagando con tarjeta de crédito y/o débito o dinero electrónico, descuento de 9% del IVA para
                        consumidores finales en: Servicios gastronómicos de todo… </p>


                </div>
            </a>
        </div>

    </section>
    <div>
        <a href="#arriba">
            <i class="far fa-arrow-alt-circle-up"></i>
        </a>
    </div>
    <!-- Pie de Página-->
    <footer>
        <nav class="menuDesktop">
            <div class="navFooter">
                <a class="btnPie" href="../index.html" title="Ir a Inicio"><i class="fas fa-home"></i></a>
                <a class="btnPie" href="galeria.html" title="Ir a Galería">Galería</a>
                <a class="btnPie" href="destinos.html" title="Ir a Destinos">Destinos </a>
                <a class="btnPie" href="actividades.html" title="Ir a Actividades">Actividades</a>
            </div>
        </nav>
        <div class="footer">
            <div class="conteFooter">
                <h3>Contacto</h3>
                <div class="contacto">
                    <p class="contactos">
                        Teléfono:
                        <a href="tel:12345678">12345678</a>
                    </p>
                    <p class="contactos">
                        Correo Electrónico:
                        <a href="email">correo@correo.co</a>
                    </p>
                    <p class="contactos">
                        Dirección: Calle Falsa 123
                    </p>
                </div>
                <button><a href="VIEWS/contacto.html">Envianos un mensaje</a></button>
            </div>
            <div class="conteFooter">
                <h3>Redes Sociales</h3>
                <h4 class="redeSociales">
                    <a target="_blanck" href="https://www.facebook.com/" title="Ir a Facebook"><i
                            class="fab fa-facebook-square"></i></a>
                    <a target="_blanck" href="https://twitter.com/" title="Ir a Twitter"><i
                            class="fab fa-twitter-square"></i></a>
                    <a target="_blanck" href="https://www.instagram.com/?hl=es-la" title="Ir a Instagram"><i
                            class="fab fa-instagram-square"></i></a>
                </h4>
            </div>
        </div>
        <h4 class="copy">
            <span class="color-copy"> CoderHouse:</span>
            Proyecto final
        </h4>
    </footer>
    <!--Fin del Pie de Página-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
    <script src="ASSETS/JS/index.js"></script>
    <script src="../ASSETS/JS/index.js"></script>

</body>

</html>