<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoderHouse: Proyecto Final</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="../CSS/estilos.css">
</head>

<body>
    <!-- Navegacion-->
    <header id="arriba">
        <div class="encabezado">
            <a href="#arriba"><i class="fas fa-chevron-circle-up"></i></a>
            <nav class="btn-caja-resto">
                <a class="btn" href="../index.html" title="Ir a Inicio"><i class="fas fa-home"></i></a>
            </nav>
        </div>
    </header>
    <!-- Fin de Navegacion-->
<body>
    <main>
        <form action="">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Escribe tu nombre" />

            <label for="email" />Email</label>
            <input type="email" name="email" id="email" placeholder="email" required />

            <label for="asunto">Asunto</label>
            <input type="text" name="asunto" id="asunto" placeholder="titular de la consulta" />

            <label for="mensaje">Mensaje</label>
            <textarea name="mensaje" for="mensaje" placeholder="describe brevemente en menos de 300 carácteres"
                maxlength="300"></textarea>

            <input type="submit" name="enviar" value="enviar datos" />

        </form>
    </main>
</body>
<!-- Pie de Página-->
<footer>
    <nav>
        <div class="navFooter">
            <a class="btnPie" href="VIEWS/galeria.html" title="Ir a Galería">Galería</a>
            <a class="btnPie" href="VIEWS/turismo.html" title="Ir a Turismo">Turismo </a>
            <a class="btnPie" href="../index.html" title="Ir a Inicio"><i class="fas fa-home color"></i></a>
            <a class="btnPie" href="VIEWS/blog.html" title="Ir a Blog">Blog</a>
            <a class="btnPie" href="VIEWS/historia.html" title="Ir a Historia">Historia</a>
        </div>
    </nav>

    <p class="copy"><span class="color-copy"> CoderHouse:</span> Proyecto final</p>
</footer>
<!--Fin del Pie de Página-->

</body>

</html>