<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoderHouse: Proyecto Final</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Lobster&family=Overpass:wght@300&display=swap">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="../ASSETS/CSS/estilos.css">
</head>

<body>
    <!-- Navegacion-->
    <header>
        <div>
            <nav class="encabezado">
                <div>
                    <div class="buscar">
                        <i class="fas fa-search"></i>
                        <!--<input type="text" placeholder="Buscar..."> hacerlo aparecer con javascript-->
                    </div>
                    <div class="mapa">
                        <a href="https://goo.gl/maps/nCMiDfxxWDSrqzsR9" title="Encuéntrame" target="_blanck"><i
                                class="fas fa-map-marked-alt"></i>
                        </a>
                    </div>
                </div>
                <a href="#arriba"><i class="fas fa-chevron-circle-up"></i></a>
                <!-- Menu de navegacion con lista desplegable-->
                <ul class="btn-caja nav nav-justified">
                    <li class="navBtn listaBtnExpan"><a class="botones enlaceLista"
                            href="galeria.html">Galeria</a>
                    </li>
                    <li class="navBtn listaBtnExpan"><a class="botones enlaceLista"
                            href="turismo.html">Turismo</a>
                        <ul class="cajaListaInterna">
                            <li class="listaInterna"><a class="botones enlaceLista"
                                    href="turismo.html#playas">Playas</a></li>
                            <li class="listaInterna"><a class="botones enlaceLista"
                                    href="turismo.html#camping">Camping</a></li>
                            <li class="listaInterna"><a class="botones enlaceLista"
                                    href="turismo.html#ciudad">Ciudad</a></li>
                        </ul>
                    </li>
                    <li class="navBtn listaBtnExpan"><a class="botones enlaceLista" href="../index.html"><i
                                class="fas fa-home"></i></a>
                    </li>
                    <li class="navBtn listaBtnExpan"><a class="botones enlaceLista" href="blog.html">Blog</a>
                        <ul class="cajaListaInterna">
                            <li class="listaInterna"><a class="botones enlaceLista" href="blog.html">Noticias</a>
                            </li>
                            <li class="listaInterna"><a class="botones enlaceLista" href="blog.html">Datos de
                                    interes</a></li>
                        </ul>
                    </li>
                    <li class="navBtn listaBtnExpan"><a class="botones enlaceLista"
                            href="historia.html">Historia</a>
                    </li>
                </ul>
                <!-- fin del menu de navegacion -->
            </nav>
        </div>
    </header>
    <!-- Fin de Navegacion-->

    <section class="contenedor">
        <h1 id="historia" title="Historia">Historia</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui repellendus officia eveniet quibusdam
            placeat, vel debitis pariatur dicta veniam odit corrupti officiis adipisci nulla? Minima voluptas quae
            recusandae optio doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat doloremque
            impedit suscipit blanditiis harum molestiae consequatur omnis iure ad reiciendis vitae error ut
            repellat, earum necessitatibus nisi placeat, nesciunt aut?
        </p>
    </section>
    </div>
    <!-- Pie de Página-->
    <footer>
        <nav>
            <div class="navFooter">
                <a class="btnPie" href="galeria.html" title="Ir a Galería">Galería</a>
                <a class="btnPie" href="turismo.html" title="Ir a Turismo">Turismo </a>
                <a class="btnPie" href="../index.html" title="Ir a Inicio"><i class="fas fa-home color"></i></a>
                <a class="btnPie" href="blog.html" title="Ir a Blog">Blog</a>
                <a class="btnPie" href="historia.html" title="Ir a Historia">Historia</a>
            </div>
        </nav>
        <div class="footer">
            <div class="conte-footer">
                <h3>Contacto</h3>

                <p class="contactos">
                    Teléfono:
                    <a href="tel:12345678">12345678</a>
                </p>
                <p class="contactos">
                    Correo Electrónico:
                    <a href="email">correo@correo.co</a>
                </p>
                <p class="contactos">
                    Dirección: Calle Falsa 123
                </p>

            </div>
            <div class="conte-footer">
                <h3>Sobre Nosotros</h3>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto necessitatibus velit
                    laborum facere? Non, consequatur eveniet cum iusto magni ut possimus quia alias illum
                    ipsa expedita soluta placeat voluptas quos.
                </h4>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto necessitatibus velit
                    laborum facere? Non, consequatur eveniet cum iusto magni ut possimus quia alias illum
                    ipsa expedita soluta placeat voluptas quos.
                </h4>
            </div>
            <div class="conte-footer">
                <h3>Redes Sociales</h3>
                <h4 class="redes-sociales">
                    <a href="" title=""><i class="fab fa-facebook-square"></i></a>
                    <a href="" title=""><i class="fab fa-twitter-square"></i></a>
                    <a href="" title=""><i class="fab fa-instagram-square"></i></a>
                </h4>
            </div>
        </div>
        <p class="copy"><span class="color-copy"> CoderHouse:</span> Proyecto final</p>
    </footer>
    <!--Fin del Pie de Página-->

</body>

</html>