<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoderHouse: Proyecto Final</title>
    <!--===FUENTES===-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <!--===ICONOS===-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <!--===NORMALIZE===-->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <!--===BOOTSTRAP===-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!--===CSS===-->
    <link rel="stylesheet" href="../ASSETS/CSS/style.css">
</head>

<body>
    <!-------------------------PORTADA------------------------------>
    <section>
        <a href="#arriba">
            <h1 class="estiloTituloDecorado estitloTituloDecoradoDesktop">
                <--------------Uruguay Natural -------------->
            </h1>
            <h1 class="estiloTituloDecorado estitloTituloDecoradoMobil">
                <--Uruguay Natural-->
            </h1>
        </a>
    </section>
    <!--===NAVEGACIÓN===-->
    <header id="arriba">
        <!--===Menu de navegacion con lista desplegable===-->
        <nav class="menuDesktop">
            <ul class="btnCaja">
                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista" href="../index.html">Inicio</a>
                </li>
                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista" href="turismo.html">Destinos</a>
                    <ul class="cajaListaInterna">
                        <li class="listaInterna"><a class="botones enlaceLista" href="turismo.html#playas">Playas</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista" href="turismo.html#camping">Camping</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista" href="turismo.html#ciudad">Ciudad</a>
                        </li>
                    </ul>
                </li>
                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista">Galeria</a>
                    <ul class="cajaListaInterna">
                        <li class="listaInterna"><a class="botones enlaceLista" href="galeria.html">1 Columna</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista" href="galeria2.html">2 Columnas</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista" href="galeria3.html">3 Columnas</a>
                        </li>
                    </ul>
                </li>
                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista" href="blog.html">Blog</a>
                    <ul class="cajaListaInterna">
                        <li class="listaInterna"><a class="botones enlaceLista" href="blog.html">Noticias</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista" href="blog.html">Datos de
                                interes</a></li>
                    </ul>
                </li>
                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista" href="actividades.html">Actividades</a>
                </li>
            </ul>
        </nav>
        <!--===Fin del menu de navegacion con lista desplegable===-->
        <!--===MENU HAMBURGESA===-->
        <nav class="menuHamburgesa">
            <div class="hamburger">
                <div class="_layer -top"></div>
                <div class="_layer -mid"></div>
                <div class="_layer -bottom"></div>
            </div>
            <nav class="menuppal">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="turismo.html">Destinos</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="actividades.html">Información</a></li>
                </ul>
            </nav>

        </nav>
        <!--===FIN DE MENU HAMBURGESA===-->
    </header>
    <!--===FIN DE NAVEGACIÓN===-->
    <main>
        <section class="contenedor">
            <div class="playa">
                <h1 id="playa" class="titulosDeSecciones">¡Disfruta el verano en la arena!</h1>
                <div class="contPlaya">
                    <h2>
                        De las oceánicas playas del departamento de Rocha a las tranquilas aguas
                        del Río de la Plata, Uruguay tiene unos 600 kilómetros de costa que invitan organizar un
                        roadtrip por algunas de sus principales ciudades y balnearios.
                    </h2>
                    <h2>
                        Aquí te proponemos una guía de playas en Uruguay a través de una ruta que inicia en Brasil, por
                        la
                        ciudad fronteriza El Chuy, y
                        termina en Colonia del Sacramento, donde con menos de una hora de barco puedes llegar a Buenos
                        Aires.
                    </h2>
                </div>



                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Santa Teresa Departamento de Rocha, km. 302 de la ruta 9

                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">

                                Ideal para los fanáticos del camping y la naturaleza, el Parque Nacional de Santa Teresa
                                ocupa 3.000 hectáreas sobre el mar y ofrece en su entrada una de las fortalezas
                                coloniales más bonitas y mejor conservadas del país, que data de mediados del siglo
                                XVIII. Dos kilómetros hacia adentro están las playas con cabañas de alquiler, un hostel
                                y un sitio preparado para acampar. La entrada al Parque Nacional es gratuita para todo
                                visitante que vaya por el día a disfrutar de sus playas y preparar un asado en alguna de
                                sus barbacoas abiertas al público. Sin embargo, quienes deseen pasar la noche deben
                                registrarse en la entrada y abonar el precio correspondiente. La Fortaleza abre de 10 a
                                19 horas en temporada alta y de 10 a 17 en baja; el costo de ingreso es de 40 pesos
                                uruguayos (un dólar y medio) por persona.

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Fortaleza Santa Teresa; Departamento de Rocha, km. 298 de la ruta 9

                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                El balneario nació en la década de 1930 y mantuvo su perfil de pueblo de pescadores
                                hasta pocas
                                décadas atrás, que fue descubierto por el turismo y convertido en uno de los destinos
                                favoritos
                                de veraneo de los jóvenes uruguayos durante la temporada alta; no obstante, durante el
                                invierno
                                viven allí solo unas 800 personas (según el censo de 2011), por lo que el lugar aún
                                conserva su
                                espíritu original. En sus 10 kilómetros de costa conviven tres playas: la de Los
                                Pescadores en
                                el centro -la más familiar, caracterizada por coloridos botes de pesca artesanal que se
                                acercan
                                a la playa para ofrecer a los turistas la pesca del día-, la Playa de la Viuda al
                                suroeste, y la
                                del Rivero, al noreste.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Punta del Diablo Departamento de Rocha, km. 271,5 de la ruta 10 </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">

                                Pequeño pueblo de pescadores rodeado por dunas de gran altura, Barra de Valizas es el
                                punto más
                                hippie de la costa uruguaya, favorito de músicos y artesanos. Dentro de sus atractivos
                                están los
                                restos de varios naufragios, que pueden ser visitados por quienes practican buceo los
                                días que
                                el agua está clara. Un paseo típico es la caminata por las dunas hasta Cabo Polonio
                                (unos ocho
                                kilómetros), que se alarga si uno hace el recorrido por la costa, pero el desvío permite
                                observar restos del Don Guillermo, barco de la marina estadounidense que encalló en la
                                década de
                                1950.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                Cabo Polonio
                                Departamento de Rocha, km. 264, 5 de la ruta 10 </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">

                                Sin luz eléctrica ni calles asfaltadas, este balneario tampoco es accesible desde la
                                ruta -se
                                ingresa solamente desde la Terminal Puerta del Polonio atravesando siete kilómetros de
                                bosque y
                                dunas en un camión 4x4 hasta llegar al balneario; los únicos con permiso para ingresar
                                en
                                vehículo propio son quienes tienen casa allí- y la dificultad de su acceso es a la vez
                                el
                                garante de que se conserve como un lugar de características únicas en el país, solo
                                comparable
                                al Jericoacoara del nordeste brasileño. Aquí están algunas de las mejores playas del
                                país, pero
                                su mayor encanto es la noche, momento en que la única competencia de la luna y las
                                estrellas la
                                proporciona el faro de la punta del Cabo, y las velas o linternas de los habitantes.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                                La Pedrera
                                Departamento de Rocha, km. 228,5, ruta 10 </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">

                                Es ideal para quienes no alquilan auto pues desde cualquier hotel, hostel o posada se
                                puede
                                acceder caminando tanto a sus playas (El Desplayado y El Barco) como a los bares,
                                restaurantes y
                                comercios de la calle principal. A pesar de que es uno de los favoritos de los grupos de
                                jóvenes, también lo es para muchas familias, salvo durante los feriados de Carnaval que
                                prefieren escapar por el volúmen de la música hasta pasada la madrugada.

                                A unos 10 kilómetros está La Paloma, ciudad balnearia que recibe tanto familias como
                                grupos de
                                jóvenes durante la temporada alta, y ofrece mayor infraestructura y servicios. Una de
                                sus
                                playas, La Balconada, es conocida como uno de los lugares ideales para apreciar el
                                atardecer,
                                dado que allí el sol se oculta directamente en el mar.

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSix" aria-expanded="false"
                                aria-controls="flush-collapseSix">
                                Punta del Este
                                Departamento de Maldonado, km. 132 de la Ruta Interbalnearia
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">

                                Uno de los balnearios más exclusivos de América Latina, el favorito del jetset
                                rioplatense y
                                también frecuentado por celebridades norteamericanas e integrantes de la realeza
                                europea.
                                Quienes buscan playa y edificios al estilo Miami pueden elegir alojarse en la Península
                                -donde
                                está la avenida principal, Gorlero, y a una cuadra la famosa “Calle 20”, sede de las
                                marcas más
                                exclusivas- mientras que los que prefieren el relax hippie chic encontrarán su lugar en
                                La
                                Barra, Manantiales y José Ignacio. Sin embargo, debes saber que las mejores puestas de
                                sol están
                                en Portezuelo y Solanas, donde el artista Páez Vilaró creó su célebre hotel, restaurante
                                y museo
                                Casapueblo. No te pierdas el Puerto de la ciudad balnearia, ubicado en la Península, y
                                si tienes
                                tiempo toma un ferry para pasar el día en la Isla Gorriti.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                aria-controls="flush-collapseSeven">
                                Piriápolis
                                Departamento de Maldonado, km. 82 de la ruta Interbalnearia
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Tranquilo y familiar balneario de clase media, ofrece una pintoresca rambla bordeada por
                                cerros,
                                algo insólito en la llana costa uruguaya. Hay aerosillas en la costa que permiten subir
                                a lo
                                alto, lugar ideal para tomar fotografías panorámicas; los solteros pueden visitar el
                                santuario
                                de San Antonio, conocido por ayudar a formar parejas. A 4 kilómetros de allí está el
                                cerro Pan
                                de Azúcar, que con 389 metros de altura es de los más altos del país, y es distinguible
                                desde
                                lejos porque en la cima lleva una cruz de cemento de 35 metros de altura. Hay caminos
                                para
                                llegar a la cima a pie, y también un parque reserva de siete hectáreas, la estación de
                                cría de
                                fauna autóctona Cerro Pan de Azúcar, que incluye venados de campo, gatos monteses y
                                carpinchos.
                                Hace pocos años se sumó a la propuesta un EcoParque Aventura que ofrece actividades como
                                canopy,
                                trekking, cetrería, escalada y rapel. Otro paseo recomendable es el Castillo de Piria,
                                que
                                perteneció al empresario Francisco Piria (1847-1933), fundador de la ciudad balnearia.
                                Aunque no
                                está muy bien conservado, vale la pena la visita para descubrir los símbolos masones y
                                alquimistas que se esconden en la construcción.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingeihgt">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseeihgt" aria-expanded="false"
                                aria-controls="flush-collapseeihgt">
                                Montevideo
                                Departamento de Montevideo, km. cero del país </button>
                        </h2>
                        <div id="flush-collapseeihgt" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingeihgt" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">

                                Aunque ya no es el Atlántico sino el Río de la Plata quien baña sus costas, las playas
                                de
                                Montevideo tienen la particularidad de estar bordeadas por una costanera de 22
                                kilómetros que
                                las une y permite recorrerlas tanto caminando y en bicicleta como en auto. Es el lugar
                                favorito
                                de los montevideanos para salir a caminar, correr, y sentarse a charlar y tomar mate,
                                una
                                especie de té que se comparte en grupo casi como ritual.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingnine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapsenine" aria-expanded="false"
                                aria-controls="flush-collapsenine">
                                Colonia del Sacramento
                                Departamento de Colonia, km. 176 de la ruta 1
                            </button>
                        </h2>
                        <div id="flush-collapsenine" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingnine" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">

                                Su casco histórico conserva calles angostas de piedra con construcciones portuguesas y
                                españolas
                                de la época de la colonia. Fue fundada en 1680 por portugueses, lo que la convierte en
                                la
                                primera y más antigua ciudad uruguaya. Pero una visita no está completa sin observar el
                                atardecer desde su costa: amarillos, naranjas, rojos y violetas se funden allí de una
                                forma
                                única en el país, así que recuerde tener cargada la batería de su cámara de fotos. La
                                ciudad
                                vecina de Nueva Helvecia, ubicada en el mismo departamento pero a 58 kilómetros, también
                                merece
                                una visita: única colonia suiza del Uruguay, ofrece casas y espacios públicos decorados
                                con
                                escudos de los cantones de sus habitantes, formando un conjunto de características
                                únicas.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="titulosDeSecciones" id="turismo">Elige tu destino</h2>
            <div class="contenedorTurismo">
                <div class="tipoLugar">
                    <a href="turismo.html#camping">
                        <img src="../ASSETS/IMG/Campin.jpg" title="Más información sobre los Campings"
                            alt="Foto de un Camping">
                    </a>
                    <div class="contLugar">

                        <div>
                            <p class="estiloParrafo"> Las áreas protegidas son un pilar fundamental para la conservación
                                y el uso sostenible de la diversidad biológica. </p>
                        </div>
                        <div class="btnCajaTipo">
                            <button class="btnTipoLugar"><a href="turismo.html" title="Ver más">Ver más</a>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="tipoLugar tipoLugar3">
                    <a href="turismo.html#ciudad">
                        <img class="img" src="../ASSETS/IMG/ciudad-icono.jpg" title="Más información sobre las Ciudades"
                            alt="Foto de una Ciudad"></a>
                    <div class="contLugar">
                        <div>
                            <p class="estiloParrafo">Calmas, seductoras, amenas, auténticas... así son las ciudades
                                uruguayas. Montevideo, capital del Uruguay, es centro de negocios, eventos y
                                cultura.
                            </p>
                        </div>
                        <div class="">
                            <button class="btnTipoLugar"><a href="turismo.html" title="Ver más"> Ver más </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Pie de Página-->
    <footer>
        <nav>
            <div class="navFooter">
                <a class="btnPie" href="galeria.html" title="Ir a Galería">Galería</a>
                <a class="btnPie" href="turismo.html" title="Ir a Destinos">Destinos </a>
                <a class="btnPie" href="../index.html" title="Ir a Inicio"><i class="fas fa-home"></i></a>
                <a class="btnPie" href="blog.html" title="Ir a Blog">Blog</a>
                <a class="btnPie" href="actividades.html" title="Ir a Actividades">Actividades</a>
            </div>
        </nav>
        <div class="footer">
            <div class="conte-footer">
                <h3>Contacto</h3>

                <p class="contactos">
                    Teléfono:
                    <a href="tel:12345678">12345678</a>
                </p>
                <p class="contactos">
                    Correo Electrónico:
                    <a href="email">correo@correo.co</a>
                </p>
                <p class="contactos">
                    Dirección: Calle Falsa 123
                </p>

            </div>
            <div class="conte-footer">
                <h3>Sobre Nosotros</h3>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto necessitatibus velit
                    laborum facere? Non, consequatur eveniet cum iusto magni ut possimus quia alias illum
                    ipsa expedita soluta placeat voluptas quos.
                </h4>

            </div>
            <div class="conte-footer">
                <h3>Redes Sociales</h3>
                <h4 class="redes-sociales">
                    <a href="" title=""><i class="fab fa-facebook-square"></i></a>
                    <a href="" title=""><i class="fab fa-twitter-square"></i></a>
                    <a href="" title=""><i class="fab fa-instagram-square"></i></a>
                </h4>
            </div>
        </div>
        <p class="copy"><span class="color-copy"> CoderHouse:</span> Proyecto final</p>
    </footer>
    <!--===Fin del Pie de Página===-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous">
    </script>
    <script src="ASSETS/JS/index.js"></script>
</body>

</html>