@import "PARTES/navDesktop";
@import "PARTES/navMobile";
@import "PARTES/footer";
@import "HTMLS/index";
@import "HTMLS/_blog";
@import "HTMLS/contacto";
@import "HTMLS/galeria";
@import "HTMLS/informacion";
@import "HTMLS/turismo";



html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

li,
ul {
    text-decoration: none;
}
/*-------------- PORTADA -------------- */
header {
    margin: 0;
    padding: 0;
}

.estilosCarrusel {
    max-width: 60%;
    margin: 4rem auto;
    background-size: cover;
    overflow: hidden;

    @media (max-width: 968px) {
        max-width: 100%;
        margin: 4rem auto;
        background-size: cover;
        overflow: hidden;
    }

    .carousel-item img {
        height: 400px;
        overflow: hidden;

        @media (max-width: 968px) {
            height: 400px;
            overflow: hidden;


        }
    }

}

.imagenPortada {
    position: relative;
    top: 0;
    z-index: -1;
    height: 600px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url(../IMG/colonia1.jpg);

    @media (max-width: 890px) {
        height: 400px;
        border-top: 0;
    }
    @media (max-width:480px) {
        height: 200px;
    }

}



/*-------------- FIN PORTADA -------------- */
/*  ----------------------- FIN GENERALES ----------------------- */