@import "../PARTES/variables";

.parrafoActividad{
    font-size: 2rem;
    padding: 1rem;
    margin: 3rem auto;
}
.contenedorActividades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media(max-width: 720px) {
        grid-template-columns: repeat(2, 1fr);

    }

    .actividad {
        margin: .5rem;
        background-color: rgba(135, 207, 235, 0.719);
        display: block;
        flex-direction: column;
        transition: 1s ease-in-out;

        &:hover {
            transform: scale(1.1);
            -webkit-box-shadow: 3px 6px 5px 0px rgba(85, 81, 219, 0.79);
            -moz-box-shadow: 3px 6px 5px 0px rgba(85, 81, 219, 0.79);
            box-shadow: 3px 6px 5px 0px rgba(85, 81, 219, 0.79);

        }

        img {
            display: block;
            width: 100%;
        }

        h2 {
            font-size: 1.8rem;
            text-align: center;
            margin: 1.5rem 0;
        }

        p {
            padding: 1rem;
            font-size: 1.5rem;
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin: 0 1rem 1rem 0;
            text-decoration: none;

            border-radius: 14%;

            button {
                color: black;
                background-color: rgb(29, 145, 190);
                border: none;
            }
        }


    }
}