.contenedorInformacion {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    @media (max-width: 720px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .estiloTituloTransporte {
        font-size: 2.2vw;
        text-decoration: coral;
        margin-bottom: 2rem;
        text-align: center;

        @media (max-width: 720px) {
            font-size: 2.2rem;
        }

    }

    .barco {
        padding: 2rem;
        font-size: 1.8vw;

        @media (max-width: 720px) {
            padding: 2rem;
            font-size: 1.8rem;
        }
    }

    .omnibus {
        padding: 2rem;
        font-size: 1.8vw;
        grid-column: 1/3;

        iframe {
            width: 100%;
            margin: auto;
            min-height: 400px;
        }


        @media (max-width: 720px) {
            padding: 2rem;
            font-size: 1.8rem;
            grid-column: 1/1;

            iframe {
                width: 100%;
                margin: auto;
                max-height: 400px;
            }
        }
    }
    .avion {
        padding: 2rem;
        font-size: 1.8vw;

        @media (max-width: 720px) {

            padding: 2rem;
            font-size: 1.8rem;
        }
    }
}