@import "../PARTES/variables";

.contenedorBlog {
    p {
        font-size: 1.8rem;

    }

    .estiloTituloTransporte {
        font-size: 2rem;
        text-decoration: coral;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: bold;

        @media (max-width: 720px) {
            font-size: 2.2rem;
        }

    }

    .contenidoBlog {
        display: flex;

        @media (max-width: 720px) {
            display: block;
        }

        .avion {
            padding: 2rem;
            font-size: 1.8vw;
            flex-basis: calc(50%);

            @media (max-width: 720px) {
                padding: 2rem;
                font-size: 1.8rem;
            }
        }

        .barco {
            padding: 2rem;
            flex-basis: calc(50%);


            @media (max-width: 720px) {
                padding: 2rem;
                font-size: 1.8rem;
            }
        }

        .omnibus {
            display: block;
            padding: 2rem;
            font-size: 1.8vw;
            margin-bottom: 0;
            width: 100%;


            iframe {
                width: 100%; //me lo modifica directamente desde el iframe
            }
        }
    }
}