/*  ----------------------- INDEX ----------------------- */
/*-------------------------DECORACION DE SALTOS-------------------------------*/
.estiloTituloDecorado {
    /*Decorado de <--------uruguay natural------->*/
    width: 100%;
    padding: 3rem 3rem 0 3rem;
    margin: 0;
    background-color: rgb(0, 0, 0);
    color: rgba(241, 237, 237, 0.9);
    ;
    font-size: 4vw;
    font-family: 'Homemade Apple', cursive;
    display: block;
    text-align: center;
    position: fixed;
    z-index: 1;

    &:hover {
        background-color: black;
        color: white;

    }
}

.estitloTituloDecoradoMobil {
    display: none;

    @media (max-width: 599px) {
        display: block;
        padding: 1.5rem;

        font-size: 4vw;
    }
}

@media (max-width: 599px) {
    .estitloTituloDecoradoDesktop {
        display: none;
    }


}

.estiloImagenDecorado {
    /*Decorado imagen del flamenco*/
    margin: 0;
    background-image: url(../IMG/flamenco_decorado.jpg);
    height: 500px;
    background-attachment: fixed;
    background-size: cover;

    @media (max-width:720px) {

        margin: 0;
        height: 300px;
        background-attachment: fixed;
        background-size: cover;
    }

    .infoFlamenco {
        position: relative;
        bottom: -46rem;
        left: 2rem;
        font-size: 2rem;

        /*Da la info del flamenco*/
        @media (max-width:720px) {
            position: relative;
            bottom: -2rem;
            left: 2rem;
            font-size: 2rem;
        }
    }
}



.estiloFraseDecorado {
    /*Decorado de frase con imagen decorada abajo*/
    height: 300px;
    color: rgb(42, 14, 202);
    font-family: 'Homemade Apple', cursive;
    font-size: 3vw;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+51,a0d8ef+100 */
    background: #feffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 51%, #a0d8ef 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #feffff 0%, #ddf1f9 51%, #a0d8ef 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #feffff 0%, #ddf1f9 51%, #a0d8ef 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffff', endColorstr='#a0d8ef', GradientType=0);
    /* IE6-9 */
    text-align: end;
    padding: 2rem 2rem 0 2rem;

    blockquote {
        z-index: 3;
        height: 60px;
        margin-top: 3rem;
    }

    img {
        position: relative;
        bottom: -50%;
        width: 100%;

        @media (max-width: 724px) {

            position: relative;
            bottom: -54%;
            width: 100%;

        }
    }
}

.estiloContenedorMapa {
    margin: 8rem auto;
    z-index: -1;
    position: relative;
}

.mapaDecoracion {
    position: absolute;
    z-index: 0;
    top: 2rem;
    width: 80%;
    height: 80%;
    bottom: 2rem;
    left: 10%;
    right: 10%;
    margin: auto;
}

/*-------------------------FIN DECORACION DE SALTOS-------------------------------*/

/* GENERAL DEL INDEX */
#container-main {
    display: none;
}

/* FIN GENERAL DEL INDEX */

.clear {
    clear: both
}

.contMain {
    padding: 3rem;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 25%;
    color: white;

    div p {
        font-size: 3.6vw;
    }

    @media (max-width:480px) {
        display: none;

    }
}



section a h2 {
    color: black;
}

/*----------------------------------Efecto Bienvenida-----------------------------------------*/
.efectoEstiloTitulo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    h1:before {
        content: '';
        animation: Bienvenidas 20s linear infinite;

    }
}



.estiloTituloPrincipal {
    font-size: 10vw;
    display: inline-block;
    align-items: center;
    padding: 1.5vw;
    text-align: center;
    grid-column: 2/3;
    /* width: min-content; */
}



/* https://github.com/tbcodes/animation_css_text_rotation */
@keyframes Bienvenidas {
    0% {
        content: '¡Bienvenido!';
    }

    20% {
        content: 'Welcome!';
    }

    40% {
        content: '¡Bem-vinda!';
    }

    60% {
        content: '¡Benvingut!';
    }

    80% {
        content: '¡ようこそ!';
    }

    100% {
        content: '¡Bienvenido!';

    }
}

.seccionExperiencias {
    width: 80%;
    align-items: center;
    margin: 0 auto;
}

.titulosDeSecciones {
    font-size: 3vw;
    text-align: center;
    padding: 2rem;
    margin: 6rem auto;

    @media (max-width: 748px) {

        font-size: 3rem;
    }
}

.contenedoExperiencia {
    display: flex;

    @media (max-width:650px) {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @media (max-width: 450px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr
    }
}

.experiencia {
    text-align: center;
    border: solid 1px black;
    margin: 1rem;
    flex-basis: Calc(calc(33.3%) - calc(1rem));
    background-color: thistle;

    img {
        width: 100%;
    }

    @media (max-width:650px) {

        p {
            font-size: 1.2rem;
        }

        img {
            width: 200px;
            padding: .5rem;
        }
    }

    @media (max-width: 450px) {
        p {
            font-size: 1.2rem;
        }

        img {
            width: 200px;
            padding: .5rem;
        }
    }
}

.contenidoExperiencia {
    font-size: 1.5vw;
    padding: 1rem 0;
    width: 80%;
    margin: auto;
}

.experiencia3 {
    @media (max-width:650px) {
        grid-column: 1/3;
    }

    @media (max-width: 450px) {
        grid-column: 1/1;
    }
}




/*---------------------------------MEDIOS CIRCULOS CON INFORMACION------------------------------------*/
.fa-arrow-left {
    left: 2rem;
    bottom: 50%;
    top: 50%;
    z-index: -3;
    color: rgba(0, 0, 0, 0.534);
    position: absolute;
    font-size: 5vw;
}

.fa-arrow-right {
    right: 2rem;
    bottom: 50%;
    top: 50%;
    z-index: -3;
    color: rgba(0, 0, 0, 0.534);
    position: absolute;
    font-size: 5vw;

}

.fa-arrow-down {
    bottom: 2rem;
    z-index: -3;
    color: rgba(0, 0, 0, 0.534);
    position: absolute;
    font-size: 5vw;

}

/*-------------------INDEX RESPONSIVE-------------------*/
@media (max-width: 599px) {
    .indexDesktopOff {
        display: none;
    }
}

@media (max-width: 1048px) {
    .estiloParrafo {
        max-height: max-content;
    }
}

/* -------------------FIN INDEX RESPONSIVE------------------- */

/* -----------------------  BOTON DE VER MAS ----------------------- */

.btnVer {
    display: flex;
    justify-content: flex-end;
    margin: 3rem auto;
}

.btnVerMas {
    background-color: rgba(251, 175, 34, 0.794);
    padding: 1rem;
    border-radius: 25%;

    a {
        color: black;
        font-size: 1.5vw;
        text-decoration: none;

        @media (max-width: 600px) {

            font-size: 1rem;
        }
    }
}

.noDesktop {
    /*boton ver mas para mobile*/
    display: none;
}

/* ----------------------- FIN BOTON DE VER MAS ----------------------- */


/*------------------------------FIN POSICION DE LAS IMAGENES DE LA GALERIA---------------------------*/

/*  -----------------------FIN INDEX ----------------------- */



/*-----------------------------INFORMACION--------------------------*/

.contenedorInformacion {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.estiloTituloTransporte {
    font-size: 2.2vw;
    text-decoration: coral;
    margin-bottom: 2rem;
    text-align: center;

}

.barco,
.omnibus,
.avion {
    padding: 2rem;
    font-size: 1.8vw;
}

.omnibus {
    grid-column: 1/3;
}

.omnibus iframe {
    width: 100%;
    margin: auto;
    min-height: 400px;
}

@media (max-width: 720px) {
    .contenedorInformacion {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .estiloTituloTransporte {
        font-size: 2.2rem;
    }

    .barco,
    .omnibus,
    .avion {
        padding: 2rem;
        font-size: 1.8rem;

    }

    .omnibus {
        grid-column: 1/1;
    }

    .omnibus iframe {
        width: 100%;
        margin: auto;
        max-height: 400px;
    }
}

/*-----------------------------FIN INFORMACION--------------------------*/
/*-------------------------HTML GALERIA------------------------------------*/
.contenedor {
    width: 80%;
    margin: auto;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.imagenGal {
    padding: 1rem;
}