<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoderHouse: Proyecto Final</title>
    <link rel="icon" type="image/png" sizes="16x16" href="../../ASSETS/IMG/favicon-16x16.png">

    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <!-- ICONOS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <!-- NORMALIZE -->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="../../ASSETS/CSS/style.css">
</head>

<body>
    <!--PORTADA-->
    <section>
        <a href="#arriba">
            <h1 class="estiloTituloDecorado estitloTituloDecoradoDesktop">
                <--------------Uruguay Natural -------------->
            </h1>
            <h1 class="estiloTituloDecorado estitloTituloDecoradoMobil">
                <--Uruguay Natural-->
            </h1>
        </a>
    </section>
    <!--NAVEGACIÓN-->
    <header id="arriba">
        <!--Menu de navegacion con lista desplegable-->
        <nav class="menuDesktop">
            <ul class="btnCaja">
                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista" href="../../index.html">Inicio</a>
                </li>
                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista" href="../destinos.html">Destinos</a>
                    <ul class="cajaListaInterna">
                        <li class="listaInterna"><a class="botones enlaceLista"
                                href="../destinos.html#playas">Playas</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista"
                                href="../destinos.html#camping">Camping</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista"
                                href="../destinos.html#ciudad">Ciudad</a>
                        </li>
                    </ul>
                </li>
                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista">Galeria</a>
                    <ul class="cajaListaInterna">
                        <li class="listaInterna"><a class="botones enlaceLista" href="../galeria.html">1 Columna</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista" href="../galeria2.html">2 Columnas</a>
                        </li>
                        <li class="listaInterna"><a class="botones enlaceLista" href="../galeria3.html">3 Columnas</a>
                        </li>
                    </ul>
                </li>

                <li class="navBtn listaBtnExpan"><a class="botones enlaceLista"
                        href="../actividades.html">Actividades</a>
                </li>
            </ul>
        </nav>
        <!--Fin del menu de navegacion con lista desplegable-->
        <!--MENU HAMBURGESA-->
        <nav class="menuHamburgesa">
            <div class="hamburger">
                <div class="_layer -top"></div>
                <div class="_layer -mid"></div>
                <div class="_layer -bottom"></div>
            </div>
            <nav class="menuppal">
                <ul>
                    <li><a href="../../index.html">Inicio</a></li>
                    <li><a href="../galeria.html">Galeria</a></li>
                    <li><a href="../destinos.html">Destinos</a></li>
                    <li><a href="../actividades.html">Actividades</a></li>
                </ul>
            </nav>

        </nav>
        <!--FIN DE MENU HAMBURGESA-->
    </header>
    <!--FIN DE NAVEGACIÓN-->


    <main class="contenedor">
        <div class="contenedorActividadIndividual">
            <div class="actividad">
                <img data-src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/077ab55046ce80eaf9a3ddea999597ca_XL.jpg"
                    src="http://www.uruguaynatural.com/images/regridk2/283x167/media/k2/items/cache/077ab55046ce80eaf9a3ddea999597ca_XL.jpg"
                    alt="Náutico y Cruceros">
                <div class="contenidoActividad">
                    <h2>Náutico y Cruceros</h2>
                    <p>
                        El turismo de cruceros es una de las actividades turísticas que más crece en el mundo. Uruguay
                        es un claro ejemplo de este crecimiento, con un número de cruceristas que desembarcan que supera
                        los 400 mil. Varias son las características por las cuales los cruceristas eligen a Uruguay como
                        destino. La seguridad, la cordialidad y amabilidad de sus ciudadanos, la accesibilidad del
                        cambio de moneda, las múltiples opciones a la hora de hacer compras y la estupenda gastronomía
                        son solo algunas de ellas. Uruguay ofrece grandes oportunidades para el desarrollo de
                        actividades de turismo náutico.
                </div>
            </div>
            <div class="textoSobrante">
                <p>
                    Las características geográficas del país que cuenta con 718
                    kilómetros de línea de costa (240 km sobre el Oceánico Atlántico) y una densa red hidrográfica ,
                    le brindan un escenario ideal para el disfrute de actividades náuticas. Esta última está formada
                    por cuatro cuencas principales: Río de la Plata, Río Uruguay, Río Negro y Laguna Merín, que
                    albergan un conjunto significativo de vías navegables.
                </p>
                <p>
                    La navegación en espacios naturales privilegiados, el aprovechamiento de las condiciones
                    naturales para los paseos en barco, la pesca deportiva, los deportes náuticos como el surf,
                    windsurf, kitesurf, y el canotaje forman parte del amplio abanico de posibilidades con las que
                    se encuentra el turista.
                    Las condiciones climáticas de Uruguay son una de las principales ventajas comparativas con las
                    que que encuentra el navegante. La temperatura media anual se sitúa alrededor de los 17, 5°, en
                    tanto , la velocidad media de los vientos oscila entre 14 y 15 km/h.
                </p>
            </div>
        </div>

    </main>
    <div>
        <a href="#arriba">
            <i class="far fa-arrow-alt-circle-up"></i>
        </a>
    </div>
    <!-- Pie de Página-->
    <footer>
        <nav class="menuDesktop">
            <div class="navFooter">
                <a class="btnPie" href="../../index.html" title="Ir a Inicio"><i class="fas fa-home"></i></a>
                <a class="btnPie" href="../galeria.html" title="Ir a Galería">Galería</a>
                <a class="btnPie" href="../destinos.html" title="Ir a Destinos">Destinos </a>
                <a class="btnPie" href="../actividades.html" title="Ir a Actividades">Actividades</a>
            </div>
        </nav>
        <div class="footer">
            <div class="conteFooter">
                <h3>Contacto</h3>
                <div class="contacto">
                    <p class="contactos">
                        Teléfono:
                        <a href="tel:12345678">12345678</a>
                    </p>
                    <p class="contactos">
                        Correo Electrónico:
                        <a href="email">correo@correo.co</a>
                    </p>
                    <p class="contactos">
                        Dirección: Calle Falsa 123
                    </p>
                </div>
                <button><a href="VIEWS/contacto.html">Envianos un mensaje</a></button>
            </div>
            <div class="conteFooter">
                <h3>Redes Sociales</h3>
                <h4 class="redeSociales">
                    <a target="_blanck" href="https://www.facebook.com/" title="Ir a Facebook"><i
                            class="fab fa-facebook-square"></i></a>
                    <a target="_blanck" href="https://twitter.com/" title="Ir a Twitter"><i
                            class="fab fa-twitter-square"></i></a>
                    <a target="_blanck" href="https://www.instagram.com/?hl=es-la" title="Ir a Instagram"><i
                            class="fab fa-instagram-square"></i></a>
                </h4>
            </div>
        </div>
        <h4 class="copy">
            <span class="color-copy"> CoderHouse:</span>
            Proyecto final
        </h4>
    </footer>
    <!--Fin del Pie de Página-->
    <script src="../../ASSETS/JS/index.js"></script>

</body>

</html>