/*  ----------------------- GENERALES ----------------------- */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(../IMG/la_paloma2.jpg);
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

h1,
h2 {
    font-family: 'Lobster', cursive;
    text-align: center;
    /* text-transform: uppercase; */
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.4rem;
    padding: 1rem 2rem;
}

a {
    text-decoration: none;
}

.contenedor {
    max-width: 90%;
    margin: 4rem auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.9);

}

/*----------------------- HEADER ----------------------- */
/*-------------- PORTADA -------------- */
.encabezado {
    height: 100%;
}

.fas {
    color: white;
    font-size: 2.5rem;
}

.buscar {
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.mapa {
    position: relative;
    top: 1rem;
    left: 1rem;
}

/*-------------- FIN PORTADA -------------- */

/*-------------- MENU -------------- */
.btn-caja,
.btn-caja-resto {
    margin: 13rem auto 41rem auto;
    /*arreglar para que funcione segun el tamaño de pantalla */
    width: 70%;
    background-color: rgba(0, 0, 0, 0.6);
    list-style: none;
    align-items: center;
    width: fit-content;
}

.navBtn {
    /*Ancho de los botones  */
    display: inline-block;
    width: max-content;
    padding: 1rem;

}

.botones,
.listaBtnExpan,
.enlaceLista,
.listaInterna {
    position: relative;
}

.listaBtnExpan:hover,
.listaBtnExpan:hover>.enlaceLista,
.listaInterna:hover,
.listaInterna:hover>.enlaceLista {
    color: white;
    z-index: 10;
}

.enlaceLista {
    text-decoration: none;
    display: block;
    padding: .6rem;
}

/*-------------- SUBMENU -------------- */
.listaBtnExpan:hover .cajaListaInterna {
    display: block;
    animation: 300ms ease desplegar 1;
}

/* Animaciones */
@keyframes desplegar {
    from {
        transform: scaleY(0.5);
        /* La propiedad transform: scaleY(0.5) junto a la propiedad transform-origin: left top;
        permitirá crear un efecto visual de un submenú que se desenrrolla. */
    }
}

.listaInterna {
    list-style: none;
    width: 20%;
}

.cajaListaInterna {
    display: none;
    position: absolute;
    /* Esto adyudará a dar el efecto de despliegue del submenú */
    transform-origin: left top;
    top: 100%;
    padding: 0 1rem;
    max-width: 250px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 0 auto;

}

.cajaListaInterna .enlaceLista {
    font-size: 1.8rem;
    width: max-content;

}

/*-------------- FIN SUBMENU -------------- */
.btn-caja-resto {
    margin: 13rem auto;
}

.fa-home:hover {
    color: white;
    border-radius: 16%;
}

.fa-home,
header a {
    color: #c1c5bf;
    text-decoration: none;
    font-size: 3rem;
    padding: 0 1.5rem;
}

.fa-chevron-circle-up {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

/*-------------- MENU Responsive-------------- */
@media (min-width: 600px) and (max-width:719px) {

    .botones,
    .cajaListaInterna .enlaceLista {
        font-size: 1.1rem;
    }

    .btn-caja {
        margin: 0 auto 2rem auto;
    }
}

@media (min-width: 720px) {
    .botones {
        font-size: 1.8rem;
    }

}

@media (min-width: 1048px) {
    .botones {
        font-size: 3rem;
        width: 100%;
    }
}

/*--------------  MENU Hamburgesa-------------- */
.menuHamburgesa {
    display: none;
}

@media (max-width: 599px) {
    .menuHamburgesa {
        display: block;
    }

    .menuDesktop,
    .mapa {
        display: none;
    }

    .hamburger {
        position: fixed;
        background-color: transparent;
        left: 0;
        top: 0;
        height: 30px;
        width: 30px;
        padding: 20px 20px;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        z-index: 1002;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    .hamburger.is-active {
        background-color: none;
    }

    ._layer {
        background: white;
        margin-bottom: 4px;
        border-radius: 2px;
        width: 28px;
        height: 4px;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }

    .hamburger:hover .-top {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    .hamburger:hover .-bottom {
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }

    .hamburger.is-active .-top {
        -webkit-transform: translateY(200%) rotate(45deg) !important;
        -ms-transform: translateY(200%) rotate(45deg) !important;
        transform: translateY(200%) rotate(45deg) !important;
    }

    .hamburger.is-active .-mid {
        opacity: 0;
    }

    .hamburger.is-active .-bottom {
        -webkit-transform: translateY(-200%) rotate(135deg) !important;
        -ms-transform: translateY(-200%) rotate(135deg) !important;
        transform: translateY(-200%) rotate(135deg) !important;
    }

    .menuppal.is_active {
        transform: translate3d(0px, 0px, 0px);
    }

    .menuppal {
        background-color: rgba(51, 50, 50, 0.95);
        bottom: 0;
        height: 100%;
        left: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transform: translate3d(0px, -100%, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 100%;
        z-index: 1001;
    }

    .menuppal ul {
        margin: 0;
        padding: 0;
    }

    .menuppal ul li {
        list-style: none;
        text-align: center;
        font-size: 1.5rem;
        line-height: 3em;
        height: 3em;
        color: #369;
        text-transform: none;
        font-weight: bold;
    }

    .menuppal ul li a {
        text-decoration: none;
        color: white;
    }

    .menuppal ul li a:hover {
        text-decoration: none;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10%;
    }
}

/*-------------- Fin MENU Hamburgesa-------------- */

/*-------------- Fin MENU Responsive-------------- */
/*----------------------- FIN MENU ----------------------- */

/* ----------------------- FOOTER ----------------------- */
.footer {
    max-width: 100%;
    padding: 1rem 3rem;
    display: flex;
    background-color: #404040;
}

.footer h3,
.redes-sociales {
    text-align: center;
    font-size: 1.8rem;
}

.conte-footer {
    color: white;
    flex-basis: calc(33.3% - 1rem);
    text-align: justify;
    margin: 0 auto;
}

.navFooter {
    display: flex;
    width: 100%;
    margin: 13rem auto auto 0;
    background-color: #4d4d4d;
    align-items: center;
}

.btnPie {
    color: black;
    padding: 1rem;
    margin: 0 auto;
    align-content: center;
}

.color {
    color: black;
}

.btnPie:hover {
    color: white;
}

.color:hover {
    color: white;
}

.contactos {
    font-size: 1.2rem;
    display: block;
}

.fab {
    font-size: 3rem;
    color: white;
}

.fab:hover {
    color: #b3b3b3;
}

.copy {
    text-align: center;
    color: white;
    background-color: #333333;
    margin: 0 auto;
    padding: 2rem;
    text-transform: capitalize;
}

.color-copy {
    text-transform: uppercase;
}

.redes-sociales a {
    padding: 0 1rem;
    margin: 0;
}

.redes-sociales a i {
    font-size: 4rem;

}

/* Footer responsivo */
@media (max-width: 720px) {
    .footer {
        max-width: 100%;
        padding: 1rem 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        background-color: #404040;
    }

    .footerContacto {
        grid-row: 2;
        grid-column: 1 / 2;
    }

    .footerNosotros {
        grid-row: 1;
        grid-column: 1 / 3;
    }

    .footerRedes {
        grid-row: 2;
        grid-column: 2 / 3;
    }
}

/* Footer responsivo */

/*  ----------------------- FIN GENERALES ----------------------- */
/*  ----------------------- INDEX ----------------------- */
/* -----------------------  MAIN ----------------------- */
/* GENERAL DEL INDEX */
#container-main {
    display: none;
}

/* FIN GENERAL DEL INDEX */

.clear {
    clear: both
}

.imagenMapa {
    max-width: 35rem;
    float: left;
    margin-right: 2rem;
    border-radius: 10%;
}

.cont-main {
    padding: 3rem 3rem 6rem 3rem;
    margin: 0;
}

.cont-main div p {
    font-size: 1.6rem;
}

section a h2 {
    color: black;
}

.estiloTitulo {
    font-size: 5rem;
    padding: 1.5rem;
    margin: 0 0 5rem 0;
    /*revisar*/
    background-color: rgba(238, 237, 236, 0.671);
    border-radius: 10%;
    width: 100%;
}

/*-------------------INDEX RESPONSIVE-------------------*/
@media (max-width: 599px) {
    .indexDesktopOff {
        display: none;
    }
    .contenedor {
        max-width: 100%;
        margin: 2rem auto;
        padding: 1rem;
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0, 0.9);
        border-radius: 20px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.9);
    }

    .imagenMapa {
        display: none;
    }
}

@media (max-width:719px) {
    .estiloTitulo {
        font-size: 1.8rem;
    }

    .imagenMapa {
        max-width: 30%;
    }

    .estilo-parrafo {
        font-size: 1.3rem;
    }
}

@media (max-width: 1048px) {
    .imagenMapa {
        max-width: 50%;
    }

    .estiloTitulo {
        font-size: 2.2rem;
    }

    .estilo-parrafo {
        max-height: max-content;
    }

}

/* -------------------FIN INDEX RESPONSIVE------------------- */

/* -----------------------FIN DE MAIN ----------------------- */
/* -----------------------  BOTON DE VER MAS ----------------------- */

.btn-ver {
    display: flex;
    justify-content: flex-end;
}

.btn-vermas {
    background-color: rgba(221, 218, 218, 0.5);
    padding: 1.5rem;
    border-radius: 25%;
}

.btn-vermas a {
    color: black;
    font-size: 1.5rem;
}

/* ----------------------- FIN BOTON DE VER MAS ----------------------- */
/* -----------------------SECCION DE TURISMO DEL INDEX-----------------------*/
.contenedor-turismo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem;
    grid-column-gap: 10px;
}

/*---------EFECTO--------------*/
.contenedor-turismo img {
    height: 200px;
    width: 200px;
    overflow: hidden;
    display: block;
    border-radius: 5%;
}

.tipo-lugar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr;
    position: relative;
    padding: 1rem;
    background-color: rgba(221, 218, 218, 1);
    border: 1px solid black;
}

.tipo-lugar a {
    margin: auto;

}

.turismoParrafo {
    background-color: rgba(221, 218, 218, 0.5);
    color: black;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 30%;
}

.contenedor-turismo .tipo-lugar:hover {
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
    position: relative;
    border: 1px solid black;
    background-color: white;
    z-index: 3;


}

/*   TURISMO DEL INDEX RESPONSIVE*/
@media (max-width: 900px) {
    .contenedor-turismo {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;

    }

    .tipo-lugar {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1, 1fr);
    }

    .tipo-lugar a img {
        margin: auto;
    }
}

/*  FIN TURISMO DEL INDEX RESPONSIVE*/
/* SECCION DE GALERIA DEL INDEX*/
.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    overflow: hidden;
}

.imagenGal {
    position: relative;
    overflow: hidden;
}

.imagenGal img {
    padding: 1rem;
    max-width: 100%;
    filter: sepia(65%);
    transition: all .5s ease-in-out;
    max-width: 100%;
    position: relative;
}

.imagenGal img:hover {
    filter: sepia(0);
    transform: scale(1.07);
}

.imagenGal p {
    position: relative;
    bottom: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s ease-in-out;
    color: white;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.imagenGal:hover p {
    bottom: -0.01rem;
    opacity: 1;
    transform: scale(1.07);
}

/*   GALERIA DEL INDEX RESPONSIVE*/
@media (max-width: 800px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

/*  FIN GALERIA DEL INDEX RESPONSIVE*/
/*  FIN SECCION DE GALERIA DEL INDEX*/
/*  SECCION DE BLOG DEL INDEX*/
.contidoBlog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

/*  FIN SECCION DE BLOG DEL INDEX*/


/*  -----------------------FIN INDEX ----------------------- */



/*-----------------------------BLOG--------------------------*/
.contenidoBlogIndex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

/*-----------------------------FIN BLOG--------------------------*/